traces/*

!traces/LLM256.GPT-125M_32M.champsimtrace.xz
!traces/LLM256.OPT-350M_42M.champsimtrace.xz
!traces/LLM256.Pythia-70M_21M.champsimtrace.xz


*.csv*
*.data*
*.log
*.tar
*aocc*.tar
outputs/*
*.tmp
**/bin/
**/pin_champsim_build_*/

**.zip
**zsh-completions/
**zsh* 
**__pycache__/